.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex ;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}
.listResult{
    flex: 3;
}

.lTitle{
    color: #555;
    margin-bottom: 20px;
    font-size: 20px;
}

.lItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lItem>label{
    font-size: 12px;
}

.lItem>input{
    border: none;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.lItem>span{
    background-color: white;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.lOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;

}
.lOptionInput{
    width: 50px;
}

.lOptions{
    padding: 10px;
}

.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    cursor:pointer;
    border-radius: 5px;
    }

